$color-light-gray: #f6f6f6;
$color-orange: #ffa10b;
$color-black: #272727;
$color-gray: #8f8f8f;
$color-dark-gray: #646464;
$color-teal: #98b7ba;
$color-white: #fff;


// grid
$grid-width: 117rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;



// font
$default-font-size: 1.6rem;