@import "variables";
@import "mixins";
@import "base";
// @import "grid";

.header {
    margin-bottom: 3rem;
}

.logo-container{
    text-align: left;
}

.logo {
    display: inline-block;
    max-height: 7rem; 
    height: 100%;
}

.menu-container {
    text-align: right;
}

.menu {
    list-style-type: none;

    &__item {
        display: inline-block;
        padding: 0.5rem 2rem;
    
        a {
            &:visited{
                color: $color-gray;
            }
            &:active {
                color: $color-gray;
            }

            color: $color-gray;
            text-decoration: none;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 700;
            font-size: 1.6rem;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        &--phone {
            background-color: $color-orange;

            a {
                color: $color-white !important;
            }
        }
    }
}

.vimeo-wrapper {
	position: relative;
	padding-bottom: 54%; /* almost 16:9 */
	padding-top: 25px;
	height: 0;
}
.vimeo-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.vimeo-overlay {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-white, 0.1);

    &__heading{
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 6.4rem;
        color: $color-white;
        text-transform: uppercase;
        text-align: center;

        white-space: nowrap;
        line-height: 8rem;
        font-weight: 700;
        font-family: "Roboto Condensed";
        letter-spacing: 0.3rem;
        text-shadow: 0.1rem 0.3rem 2rem rgba($color-black, 0.6);

        &--orange {
            color: $color-orange;
        }

        &--underline {
            display:block;
            margin: 0 auto;
            width: 40%;
            height: 0.6rem;
            background-color: $color-orange;
        }
    }
}

.heading_huge {
    padding: 4.5rem;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5.2rem;
    color: $color-black;
    line-height: 6.2rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.home-box {
   
    padding: 2rem 0rem 2rem 4rem;
    
    &__content {
        background-color: $color-white;
        padding: 5rem;
        min-height: 35rem;
        text-align: center;
    }

    &__title {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 700;

        text-transform: uppercase;
        
        margin-bottom: 3rem;
    }

    &__description {
        color: $color-dark-gray;
    }
}

.portfolio-box, .image-box {
    background-size: cover;
    width: 100%;
    padding-top: 100%;
    position: relative;
    box-sizing: border-box;
    transition: all 0.4s ease;
    overflow: hidden;
    cursor: pointer;

    &__info {
        position: absolute;
        bottom: -100rem;
        background-color: $color-white;
        text-align: center;
        width: 100%;
        padding: 2rem 1rem;
        transition: all 0.3s ease;

        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: $color-gray;
    }

    &__category {
        color: $color-black;
        padding-right: 0.4rem;
    }
    &__title {
        padding-left: 0.4rem
    }

    &__more {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        font-size: 2.4rem; 

        span {
            margin-right: 1rem; 
        }
    }
}

.portfolio-box:hover .portfolio-box__info, .image-box:hover .image-box__info{
    bottom: 0;
}
.portfolio-box:hover, .image-box:hover{
    // border: 1rem solid $color-white;
}


.about-main .image-box{
    margin: 1.5rem;
}

.about-header {

    padding: 10rem;

    &__heading{
        font-size: 6.4rem;
        color: $color-black;
        text-transform: uppercase;
        text-align: center;

        white-space: nowrap;
        line-height: 8rem;
        font-weight: 700;
        font-family: "Roboto Condensed";
        letter-spacing: 0.3rem;
        // text-shadow: 0.1rem 0.3rem 2rem rgba($color-black, 0.6);

        &--orange {
            color: $color-orange;
        }

        &--underline {
            display:block;
            margin: 0 auto;
            width: 40%;
            height: 0.6rem;
            background-color: $color-orange;
        }
    }
}

.qtext {
    font-family: 'Vollkorn';
    color: #8f8f8f;
    font-size: 3rem;
    font-style: italic !important;
    line-height: 5rem;
    text-align: left;
    position: relative;
}

.about-header .qtext{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10rem;
}
.about-left-team {
    padding-left: 4.5rem;
    padding-right: 2rem;
}
.about-left-team .qtext {
    font-size: 2.5rem;
}

.project-header{
    background-color: $color-white;
}
.project-header .heading_huge{
    text-align: center;
}

.project-header__details {
    padding-top: 5rem;
}

.heading_medium {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 55px;
}

.project-header__description {
    padding: 5rem 3rem;
    color: $color-gray; 
}

.twocol-row {
    
}
.twocol-row label{
    display: inline-block;
    width: 12rem;
}
.twocol-row span{
    color: $color-gray; 
}

.p-section {

    &__title {
        font-family: 'Ubuntu', sans-serif;
        color: #272727;
        font-size: 40px;
        line-height: 48px;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 20px;
        margin-top: 10rem
    }

    &__content {


        &--left {
            padding-right: 3rem;    
        }
        &--right {
            padding-left: 3rem;
        }

        &--text {
            padding-top: 5rem;
        }
    }

    
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 760px) {

    body {
        margin: 2rem 0;
        line-height: 2rem;
        padding: 0.2rem;
    }

    .spacer {
        height: 5rem;
    }

    $grid-width: 100%;
    $gutter-vertical: 1rem;
    $gutter-horizontal: 1rem;

    .logo-container{
        text-align: center;
    }
    .menu-container {
        padding-top: 2rem;
        text-align: center;
    }

    .menu {

        &__item {
            padding: 0.5rem 1.5rem;

            a {

                font-size: 1.2rem;
                letter-spacing: 0;
                font-family: inherit;
            }

            &--phone {
                display:none;
            }
        }
    }

    

    .heading_huge{
        padding: 1.5rem;
        font-size: 3.2rem;
        line-height: 4rem;
        letter-spacing: 2px;
        text-align: center;
    }


    .home-box {
      padding: 2rem 0;

      &__content {
            background-color: $color-white;
            padding: 2rem;
            min-height: 15rem;
            text-align: center;
        }

    }


    .vimeo-wrapper{
        margin-top: 10rem;
    }

    .vimeo-overlay{

        &__heading {
            top: -7rem;
            font-size: 3rem;
            line-height: 3.5rem;
            color: $color-black;
            text-shadow: 0 0 0 $color-white;
        }
    }

    .about-header {
        padding: 2rem 0 6rem 0;

        &__heading{
            font-size: 3rem;
            line-height: 4rem;
            letter-spacing: 0.2rem;
        }
    
        .qtext {
            font-size: 2rem;
            width: 90%;
            margin-top: 5rem;
        }
    }

    .about-left-team{
        padding: 0;
    
        .qtext {
            font-size: 2rem;
            text-align: center;
            margin: 2rem 0;
            line-height: 2.4rem;
        }
    }
    
    .about-main .image-box{
        margin: 1rem 0;
    }
    
    .project-header__details {
        padding-top: 1rem;
    }

    .project-header__description {
        padding: 2rem 0;
    }

    .heading_medium {
        margin-bottom: 1.5rem;
    }

    .twocol-row {
        font-size: 1.3rem;

        label {
            width: 7rem;  
        }
    }


    .p-section {

        &__title {
            margin-top: 4rem;
            margin-bottom: 1rem;
        }

        &__content {

            &--left, &--right {
                padding: 0;
            }

            &--text {
                color: $color-gray;
                line-height: 165%;
                padding-top: 2rem;
            }

            img {
                max-width: 100%;
                
            }
        }
    }
    .portfolio-box {
        margin-bottom: 0rem;

        &__more {
            font-size: 1.6rem;
            left: 2rem;
            bottom: 40%;
        }
    }
    .col-xs-12 .portfolio-box {
        margin-bottom: 2.5rem;
    }

    h5.qtext {
        font-size: 2rem;
        line-height: 2.6rem;
        text-align: center;
    }

    .contact-details{ 
        text-align: center; 

        .twocol-row {
            width: 80%;
            margin: 1.5rem auto;


            label {
                display: inline-block;
            }
        }
    }
}